.button {
  appearance: none;
  border-radius: 3px;
  border: none;
  color: white;
  padding: 0.9rem 0.8rem;
  font-size: $font-default-2;
  font-weight: bold;
  width: 100%;
  display: block;
  cursor: pointer;
  outline: none;
  transition: all 0.1s ease-in-out;
  background-color: var(--color-neutral-third);
  text-decoration: none;

  &:disabled {
    background-color: var(--color-neutral-third)!important;
    border-color: var(--color-neutral-fourth)!important;
  }

  // &:hover {
  //     transform: translateY(-0.2rem);
  //     box-shadow: 0 1rem 2rem rgba(black, 0.2);
  // }

  &:active {
    outline: none;
    transform: scale(1.01);
    box-shadow: 0 0.5rem 1rem rgba(black, 0.2);
  }

  span.icon {
    margin: 0 0.5rem;
    @include respond(tab-por) {
      margin: 0.5rem;
    }
  }

  span.crop {
    @include respond(tab-por) {
      display: none;
    }
  }

  &--green {
    background-color: $color-palette-green;
    border: 1px solid darken($color-palette-green, 3%);
  }

  &--blue {
    background-color: $color-palette-blue;
    border: 1px solid darken($color-palette-blue, 3%);
  }

  &--red {
    background-color: $color-palette-red;
    border: 1px solid darken($color-palette-red, 3%);
  }

  &--yellow {
    background-color: $color-palette-yellow;
    border: 1px solid darken($color-palette-yellow, 3%);
  }

  &--black {
    // background-color: #fcd680;
    // color: $color-white;
    // border: 1px solid darken(#fcd680, 10%);

    background-color: var(--color-text-secondary);
    color: white;
    border: 1px solid var(--color-text-tertiary);
  }
}
