.list {
  background-color: var(--color-surface-secondary);
  border: 1px solid var(--color-neutral-third);
  border-radius: 0.25rem;
  padding: 0;

  &__element {
    list-style: none;
    font-size: $font-default-2;
    cursor: pointer;
    text-align: left;
    position: relative;
    color: var(--color-text-primary);
    display: block;
    text-decoration: none;
    padding: 0.9rem 0.8rem;

    &:not(:last-child) {
      border-bottom: 1px solid var(--color-neutral-third);
    }

    &:hover {
      background-color: var(--color-neutral-third);
    }

    .crop {
      max-width: calc(100% - 2rem);
      display: inline-block;
    }

    .icon {
      position: absolute;
      right: 1rem;
      top: 50%;
      transform: translateY(-50%);
      color: var(--color-text-secondary);
    }
  }
}
