.module {
  border-radius: 0.25rem;
  background-color: var(--color-surface-primary);
  box-shadow: 0 0.25rem 0.75rem rgba(black, 0.05);
  text-align: center;
  width: 100%;
  color: var(--color-text-primary);

  &--padded {
    padding: 2rem;

    @include respond(phone) {
      padding: 1.5rem;
    }
  }

}
