.select {
  appearance: none;
  background-image: url("/layout/arrow_down.svg");
  background-size: 4rem;
  background-repeat: no-repeat;
  background-position: right;
  background-color: var(--color-neutral-primary);
  color: var(--color-text-primary);
  border: 0.1rem solid var(--color-neutral-third);
  border-radius: 0.3rem;
  font-size: $font-default-2;
  padding: 0.9rem 0.8rem;
  outline: none;
  cursor: pointer;
  width: 100%;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 1px 2px rgba(10,10,10,0.1);

  @include respond(phone) {
    background-image: none;
  }

  &:focus {
    border-color: var(--color-semantic-green);

    @include color-scheme(dark) {
        border-color: var(--color-neutral-secondary)!important;
    }

  }
}
