.textfield {
  color: $color-tertiary;
  padding: 0.9rem 0.8rem;
  outline: none;
  font-size: $font-default-2;
  transition: all 0.3s ease-in-out;
  background-color: $color-white;
  appearance: none;
  border-radius: 0.3rem;
  border: 1px solid $color-white-4;
  box-shadow: inset 0 1px 2px rgba(10,10,10,0.1);
  width: 100%;

  &:focus {
    border-color: #00d1b2;
  }

  &:invalid {
    border-color: $color-button-red;
  }

  & + .v-spinner {
    position: absolute;
    right: 1rem;
    top: 24%;
  }
}
