@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }

  80% {
    transform: translateX(1rem);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }

  80% {
    transform: translateX(-1rem);
  }

  100% {
    opacity: 1;
    transform: translateX(0rem);
  }
}
@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem);
  }

  100% {
    opacity: 1;
    transform: translateY(0rem);
  }
}
@keyframes moveInTop {
  0% {
    opacity: 0;
    transform: translateY(-3rem);
  }

  100% {
    opacity: 1;
    transform: translateY(0rem);
  }
}
@keyframes progressBarStripes {
  0% {
    background-position: 0;
  }

  100% {
    background-position: -6rem;
  }
}
@keyframes fluidBackground {
  0% {
    background-position: 0 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0 50%;
  }
}
// FADE
.fade-enter-active,
.fade-leave-active {
  transition: all 0.2s;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}
// EXPAND
// .expand-enter-active,
// .expand-leave-active {
//   transition: all 0.2s;
// }
//
// .expand-enter,
// .expand-leave-to {
//   visibility: hidden;
//   height: 0;
// }
//
// .expand-enter-to,
// .expand-leave {
//   height: calc(100% - 6rem);
//   visibility: visible;
// }
//PANEL
.panel-enter-active,
.panel-leave-active {
  transition: all 0.2s;
}

.panel-enter,
.panel-leave-to {
  visibility: hidden;
  opacity: 0;
}

.panel-enter-to,
.panel-leave {
  opacity: 1;
  visibility: visible;
}
// SCALE
.scale-enter-active,
.scale-leave-active {
  transition: all 0.2s ease-in-out;
  transform: scale(0);
}

.scale-enter,
.scale-leave-to {
  opacity: 0;
  transform: scale(1);
}
