.clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

.u-margin-bottom-big {
  margin-bottom: 1.5rem;
}

.u-margin-bottom-medium {
  margin-bottom: 1rem;
}

.u-margin-bottom-small {
  margin-bottom: 0.5rem;
}

.u-margin-top-big {
  margin-bottom: 1.5rem;
}

.u-margin-top-medium {
  margin-bottom: 1rem;
}

.u-margin-top-small {
  margin-bottom: 0.5rem;
}

.u-color-blue {
  color: $color-button-blue;
}

.u-color-green {
  color: $color-button-green;
}

.u-color-red {
  color: $color-button-red;
}

.u-color-yellow {
  color: $color-button-yellow;
}

.u-bg-color-blue {
  background-color: $color-button-blue;
  border: 1px solid darken($color-button-blue, 3%);
}

.u-bg-color-green {
  background-color: $color-button-green;
  border: 1px solid darken($color-button-green, 3%);
}

.u-bg-color-red {
  background-color: $color-button-red;
  border: 1px solid darken($color-button-red, 3%);
}

.u-bg-color-yellow {
  background-color: $color-button-yellow;
  border: 1px solid darken($color-button-yellow, 3%);
}

.u-noselect {
  -webkit-touch-callout: none; // iOS Safari
  -webkit-user-select: none; // Safari
  -khtml-user-select: none; // Konqueror HTML
  -moz-user-select: none; // Firefox */
  -ms-user-select: none; // Internet Explorer/Edge
  user-select: none; // Non-prefixed version, currently supported by Chrome and Opera
}

.u-select {
  -webkit-touch-callout: text; // iOS Safari
  -webkit-user-select: text; // Safari
  -khtml-user-select: text; // Konqueror HTML
  -moz-user-select: text; // Firefox */
  -ms-user-select: text; // Internet Explorer/Edge
  user-select: text;; // Non-prefixed version, currently supported by Chrome and Opera
}
