body {

  #app {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 25rem auto;
    grid-template-areas: ". main";
    min-height: 100vh;
    background-color: $color-white-2;
    @include respond(tab-lan) {
      display: block;
      margin-top: 6rem;
    }
  }

  main {
    grid-area: main;
    font-size: 1.4rem;
    padding: 3vh;
    background-color: $color-white-2;
    z-index: 9999;

  }

  .menu-left {
    position: fixed;
    width: 25rem;
    height: 100%;
    z-index: 9998;
  }
}
