body {
  background-color: $color-white-2;
  height: 100%;
}

main {
  position: relative;
  width: 100%;
  height: 100%;
}

.login-box {
  position: absolute;
  @include absCenter;
  width: 20vw!important;

  @include respond(tab-por) {
    width: 60vw!important;
  }

  @include respond(tab-por) {
    width: 80vw!important;
  }
}

.logo {
  width: 50%;

  @include respond(tab-por) {
    width: 40%;
  }
}

.error {
  font-size: 1.2rem;
}
