body {
  background-color: $color-white-2;
}

main {
  position: relative;
  width: 100%;
  height: 100%;

}

.signup-box {
  position: absolute;
  @include absCenter;
  width: 20vw;

  @include respond(tab-por) {
    width: 60vw;
  }

  @include respond(phone) {
    width: 80vw;
  }
}

.success-box {
  position: absolute;
  @include absCenter;
  width: 20vw;

  @include respond(tab-por) {
    width: 60vw;
  }

  @include respond(phone) {
    width: 80vw;
  }

  &__title {
    font-weight: bold;
  }

  &__paragraph {
    font-size: $font-default-2;
    margin: 1rem;
  }
}

.logo {
  width: 50%;

  @include respond(tab-por) {
    width: 40%;
  }

}

.error {
  font-size: 1.2rem;
}
