.panel__dashboard {
  &-box {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "recentPosts profile" "recentPosts chart";
    grid-gap: 3vh;
    width: 100%;
    height: 100%;
    @include respond(tab-por) {
      // grid-template-rows: 1fr 1fr 1fr;
      // grid-template-columns: 1fr;
      // grid-template-areas: "recentPosts profile" "recentPosts topProfiles";
      display: block;
    }

    .module {
      margin: 0;
    }

    & > div {
      &:not(:last-child) {
        @include respond(tab-por) {
          margin-bottom: 3vh;
        }
      }
    }
  }

  &--recent-posts {
    grid-area: recentPosts;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 3vh;
  }

  &--profile {
    grid-area: profile;
    display: table;
    height: 100%;
    @include respond(tab-por) {
      height: auto;
    }

    .profile-box {
      display: table-cell;
      vertical-align: middle;

      .profile-img {
        width: 20vh;
        height: 20vh;
        display: inline-block;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        -webkit-clip-path: circle(50% at 50% 50%);
        clip-path: circle(50% at 50% 50%);
      }

      .profile-info {
        margin: 1rem;

        &--documents,
        &--name {
          margin: 0.5rem;
        }
      }
    }
  }

  &--chart {
    grid-area: chart;
  }
}
