#nprogress {
    position: fixed;
    top: 0;
    z-index: 100000000;
    width: 100vw;
    outline: none;

    .bar {
        height: 0.2rem;
        background-image: $linear-gradient-primary--light;
        outline: none;
    }

}

.nprogress-container {
  position: fixed;
}
