server {
  # Remove all inherited headers
  add_header X-Ciao ;
  listen $PORT default_server;

  location / {
    root   /usr/share/nginx/html;
    try_files $uri $uri/ /index.html;
    index  index.html;
  }

}
